.home__container {
  position: relative;
  width: 100%;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.home__content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #f0f2f5;
  max-width: 1400px;
}

.invoice-table {
  margin-top: 2em;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  background-color: white;
}

.empty__container {
  display: flex;
  flex-direction: column;
}

.home__content .title__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
}

.home__content .title__content .title {
  font-size: 22px;
  font-weight: bold;
  color: black;
  line-height: 0;
}
