.invoice__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

.invoice__container label {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.invoice__container .ant-col {
  padding: 0 0.25em;
}

.input {
  width: 100%;
}
